<!DOCTYPE html>
<html>
<head>
<title>About</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<div class="navbar">

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/services">Services</a>
<a href="/contact">Contact</a>

</div>

<h1>📘 About Project</h1>

<div class="card">

<p>
AI Resume Analyzer is a smart web application built using
Python Flask. It analyzes resumes and helps users improve
their career opportunities.
</p>

<p>
The system detects skills, calculates score, and recommends
career paths based on resume content.
</p>

</div>

</div>

</body>
</html>