<!DOCTYPE html>
<html>
<head>

<title>Services</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<div class="navbar">

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/services">Services</a>
<a href="/contact">Contact</a>

</div>

<h1>🛠 Services</h1>

<div class="card">

<ul>

<li>Resume Analysis</li>
<li>Skill Detection</li>
<li>Career Recommendation</li>
<li>Learning Roadmap</li>
<li>Job Readiness Score</li>

</ul>

</div>

</div>

</body>

</html>